* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:burlywood;
}
.testimonial {
    margin: 50px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.testimonial-text {
    max-width:500px;
   padding: 40px;
   background-color: brown;
   color:#fff;
  margin:30px;
  box-shadow: 0 0 10px 10px rgba(158, 18, 50, 0.2);
}
.user-text {
    line-height: 30px;
    display:none;
}
.user-text p{
    text-align: center;
    font-size: 18px;
}
span {
    font-size:14px;
    line-height: 30px;
   text-align: center;
}
.user-text p::before,p::after{
    content:'"';
}

.active-text{
    display: flex;
    flex-direction: column;
    gap:30px;
    animation: moveup 1s linear forwards;
}
img {
    width:50px;
    height:50px;
    border-radius: 50%; 
    margin:20px;  
}
img:hover,.active-pic{
    cursor: pointer;
    width: 70px;
    height: 70px;
    border: 3px solid red;
}
@keyframes moveup {
    0% {
        margin-top: 25px;
    }
    100%{
        margin-top:0px;
    }
}
