* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(220, 193, 204);
}
.testimonial {
 margin: 90%;
 max-width:800px;
 margin:auto;
}
.testimonial-text {
    width:100%;
    height:200px;
   background-color: rgb(136, 46, 46);
   color:#fff;
  box-shadow: 0 15px 20px rgba(158, 18, 50, 0.2);
  position: relative;
}
.user-text {
    width: 80%;
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
.user-text p{
    text-align: center;
    font-size: 18px;
}
span {
    font-size:14px;
    line-height: 30px;
   text-align: center;
}
.user-text p::before,p::after{
    content:'"';
}

.active-text{
    display: flex;
    flex-direction: column;
    gap:30px;
    animation: moveup 1s linear forwards;
}
img {
    width:50px;
    height:50px;
    border-radius: 50%; 
    margin:20px;  
}
img:hover,.active-pic{
    cursor: pointer;
    width: 70px;
    height: 70px;
    border: 3px solid red;
}
@keyframes moveup {
    0% {
        margin-top: 25px;
    }
    100%{
        margin-top:0px;
    }
}
